﻿@model CorvallisOR.Models.CreateMessageVM

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    //@Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Create Post</h4>

        <div class="form-group">
            @Html.LabelFor(model => model.Subject, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Subject, new { htmlAttributes = new { @placeholder = "Enter a New Topic or choose from List", @id = "topicTextbox", @class = "form-control col-md-2", @required = "required" } })
                @Html.DropDownListFor(m => m.TopicID, new SelectList(Model.Topics, "Value", "Text"), "  -----Topic List-----  ", new { @id = "topicDropDown", @class = "form-control col-md-offset-4" })
                @Html.ValidationMessageFor(model => model.Subject, "", new { @class = "text-danger" })
            </div>

        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Message.Body, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Message.Body, new { @cols = "80", @rows = "4", @required = "required" })
                <br />
                @Html.ValidationMessageFor(model => model.Message.Body, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to Forum Home", "Index")
</div>

<script src="~/Scripts/ForumScripts.js"></script>
