﻿@model IEnumerable<CorvallisOR.Models.Message>
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Forum";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Forum</h2>

<h4>Home</h4>

@using (Html.BeginForm("Search", "Forum", FormMethod.Get))
{
    <div class="text-right">
        <input type="text" name="searchString" />
        <input type="submit" value="Search" class="btn btn-default" />
    </div>
}
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Topic.Subject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Member.Name)
        </th>
        <th>
            @if (User.Identity.IsAuthenticated)
            {
                @:Action
            }
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.ActionLink(item.Topic.Subject, "Details", new { id = item.MessageID })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Member.Name)
            </td>
            <td>
                @if (item.Member.Id == User.Identity.GetUserId())
                {
                    @Html.ActionLink("Delete", "Delete", new { id = item.MessageID })
                    @:|
                    @Html.ActionLink("Edit", "Edit", new { id = item.MessageID })
                }
            </td>
        </tr>
    }

</table>
